.red-text {
    color: red;
  }
.blue-background{
    color: blue;
}
.dropdown-menu {
    position: static;
    display: none;
    float: none;
    min-width: 10rem;
  }
  .nav-item:hover .dropdown-menu {
    display: block;
  }

